<footer  class="page-footer red-grey lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h3 class="black-text">~UNIVERSIDAD TECNOLÓGICA DE LA MIXTECA~</h3>
          <h5 class="black-text">Biblioteca MALY</h5>
          <p class="black-text text-lighten-2">Sistema creado con el fin de llevar a cabo el manejo de prestamos de libros universitarios.</p>
          <p class="black-text text-lighten-2">Programación Web I.</p>
  
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="black-text">Redes Sociales</h5>
          <ul>
            <li><a class="black-text text-lighten-3" href="https://www.facebook.com/profile.php?id=100057411799887">Facebook</a></li>
            <li><a class="black-text text-lighten-3" href="#!">Instagram</a></li>
            <h6 class="black-text">Creado por: Cristian Rodriguez Gómez.</h6>
            <h6 class="black-text">Orientado por el: Mtro.Erik G. Ramos Pérez.</h6>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container" >
      © 2023 Copyright Text
      <a class="black-text text-lighten-4 right" href="https://www.utm.mx/">Universidad Tecnológica de la Mixteca @OFICIAL</a>
      </div>
    </div>
  </footer>